{% extends "base.html" %}
{% load static %}

{% block title %}Import Data{% endblock title %}

{% block static_file %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src='{% static "Data_Analysis/import_data.js" %}'></script>
{% endblock static_file %}

{% block content %}

<div>
    <h2>Import Data</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Import</button>
    </form>
</div>
<div id="loading-spinner" style="display: none;">Processing data<span id="dots"></span></div>
<div>
    <a href="{% url "my_data" %}">My data</a>
</div>

{% endblock content %}