{% extends "base.html" %}
{% load static %}

{% block title %}My data{% endblock title %}

{% block static_file %}
<link rel="stylesheet" href="{% static "Data_Analysis/my_data.css" %}">
{% endblock static_file %}

{% block content %}

<h1>Preprocessed Data</h1>
    
    <table>
        <thead>
            <tr>
                <th>Data Name</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data_info in data_with_timestamp %}

                <tr>
                    <td><a href="{% url "data_analysis" data_name=data_info.data_name %}">{{ data_info.data_name }}</a></td>
                    <td>{{ data_info.timestamp|date:"Y-m-d H:i:s" }}</td>
                </tr>

            {% endfor %}    
        </tbody>
    </table>

{% endblock content %}
